.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo{
  width: 50px;
  padding: 25px;
  margin-top: 8px;
}
.nav-items > ul{
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li{
  padding: 15px;
  margin: 15px;
  font-size: 18px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  
}
.res-card{
  width: 180px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 5px;
}
.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}
.search{
  padding: 10px;
}
.res-logo{
  width: 100%;
  height: 180px;
}
.filter-btn{
  margin: 10px;
  cursor: pointer;
}
.shimmerCard{
  width: 180px;
  height: 300px;
  margin: 5px;
  padding: 5px;
  background-color: #f0f0f0;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.login{
  padding: 10px;
  cursor: pointer;
  margin: 15px;
  font-size: 15px;
}
.filter {
  display: flex;
}